@{
    ViewBag.Title = "Home";
}

<div id="libros">
                    <div class="misLibros">
                        <h2>Mis libros</h2>
                        <div id="pluginMisLibros">
                            <div id="arrowMisLibros">
                                <ul id="listaMisLibros">
                                    <li>
                                        <a id="libro5">
                                            <div>
                                                <img src="@Url.Content("~/Content/images/ideasmarketing.png")"/>
                                            </div>
                                            <div>Ideas de Marketing 2011 - Recopilación de post de Marketing 2.0</div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="destacado">
                    <div id="linea"></div>
                    <div class="Contenidos">
                        <h3 class="widget-title">Top Ten de Tutoriales</h3>
                        <div class="gce-page-list">
                            <ul class="gce-list">
                                <li class="gce-feed-1">
                                    <div class="gce-list-title">Conferencia 24 de Abril de 2012</div>
                                    <div class="gce-list-event gce-tooltip-event">
                                        <a href="#" target="_blank">Master Class. Marketing 2.0: Cómo desarrollar negocio con las redes sociales</a>
                                    </div> 
                                    <div><span>Horario:</span> 8:00 am - 18:00 pm</div> 
                                    <div><span>Lugar:</span> Murcia</div> 
                                    <div><span>Descripción:</span> Más información e inscripciones:<br> 
                                        <a href="#" rel="nofollow">http://www.cecarm.com/servlet/s.Sl?sit=c,736</a></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="Contenidos">
                        <h3 class="widget-title">Top Ten de Artículos</h3>
                    </div>
                    <div class="Contenidos">
                        <h3 class="widget-title">Top Ten de Cursos</h3>                        
                    </div>
                    <div id="videoDestacado">
                        <div style="clear: left;">
                        </div>                 
                    </div>
                </div>

